
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background: linear-gradient(to right, #71B280, #134E5E);
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 0px 70px auto 100px 0px;
}

header, .main, footer{
  margin: 0 15px;
}

header{
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

header > *{
  margin: 15px 0;
}

.user{
  display: flex;
  align-items: center;
}

.user, .user a{
  color: white;
}

.board{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.category{
  background: rgba(255, 255, 255, .6);
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, .8);
}

.title h2{
  margin: 0;
}

.category ul{
  margin-top: 15px;
}

.category ul li a{
  margin-right: 15px;
}

footer{
  margin-top: 30px;
  color: white;
}

footer a{
  color: white;
  text-decoration: underline;
}

footer p{
  margin: 0;
}

@media screen and (max-width: 700px) {
  header{
    flex-direction: column;
    align-items: center;
  }
  .board{
    grid-template-columns: 1fr;
  }
}